.animated-gradient-text {
    display: inline-block;
    position: relative;
}

.gradient-text-span {
    display: inline-block;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* color: transparent; Required for standard background-clip: text support in some contexts */
}

@keyframes gradient-anim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}